.titulo{
    color: #4B0082;
    font-size: 60px;
    width: calc(100% - 800px); 
}
.titulo:hover{
    color: #8A2BE2;
}
.linkporcima:hover{
    color: 	#8A2BE2;
    font-family: Arial, Helvetica, sans-serif;
}
.botao-voltar:hover{
    color:	#8A2BE2;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    position: absolute;
    display: none;
    top: 294px;
}
body {
    font-family: 'Roboto Mono', monospace;
    background-color :#ffffff; 
}
a{
    color: #9400D3;
    font-size: 20px;
    text-align: center;
    font-family: helvetica;
    width: calc(100% -30px);
}
#cabecalho{
    margin-top: -40px;
    margin-left: -8px;
    margin-right: -8px;
    height: 230px;
    background-color :#220263;
    text-align: center;
}
#links{
    margin-left: -8px;
    margin-right: -8px;
    height: 80px;
    background-color :#190149; 
    text-align: center;
}
#barralatesquerda{
    margin-left: -8px;
    height: 2000px;
    width: 300px;
    background-color: #fff;
    float: left;
}
#meio{
    background-color :#330197;
    height: 600px;
    width: 1600px; 
}
#barralatdireita{
    margin-right: -8px;
    height: 2000px;
    width: 300px;
    background-color :#fff;
    float: right;
}
#meio2{
    height: 1400px;
    width: 1600px;
    background-color :#ffffff;
}
#contato{
    margin-left: -8px;
    margin-right: -8px;
    height: 400px;
    background-color :#220263;
}
#footer{
    height: 80px;
    background-color: #190149;
    clear: both;
    margin-right: -8px;
    margin-left: -8px;
}