@import url('https://fonts.googleapis.com/css2?family+Outfit:wgt@100;200;300;400;500;600;700;800;900&display=swap');

html{
    height: 100%;
}
body{
    margin: 0%;
    padding: 0%;
    background: #172031;
}
*{
    font-family: 'Outfit' sans-serif;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
}